@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC SUPERMARKET</h1>
    @*<div>
        <img class="card-img-top" src="https://i2.wp.com/theregister.co.nz/wp-content/uploads/converted_files/tumb/images/supermarket_cartoon.jpg?fit=500%2C500&ssl=1" alt="Card image cap">
    </div>*@
</div>







@*<div class="text-left">
    <h2> WELCOME TO ABC SUPERMARKET </h2>
    <p>
        This interface provides the user with various options such as create new, update and delete product cards.
    </p>

    <h2>Getting Started</h2>
    <p>ABC SUPERMARKET web application makes it easy to add, remove, and update options and tools in Google Chrome.</p>


    <h2>More features</h2>
    <p>You can easily find a company that offers the right mix of features and price for your product at ABC SUPERMARKET.</p>

    <div>

    </div>
</div>*@
      


@*<div class="col-md-4">

        <h2> WELCOME TO ABC SUPERMARKET </h2>
        <p>
           This interface provides the user with various options such as create new, update and delete product cards.
        </p>
    </div>


    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>ABC SUPERMARKET web application makes it easy to add, remove, and update options and tools in Google Chrome.</p>
    </div>

    <div class="col-md-4">
        <h2>More features</h2>
        <p>You can easily find a company that offers the right mix of features and price for your product at ABC SUPERMARKET.</p>
    </div>
<div>*@
@*</div>*@
